tr.even, tr.odd{
background-color: #fff;
border-bottom: 1px solid #CCCCCC;
padding: 0.1em 0.6em;
}

body{
background: #fff url(images/bg-main.png) no-repeat center center;
margin: 0px;
padding: 0px;
font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
font-variant: normal;
font-weight: normal;
font-size: 1em;
line-height: 1.300em;
word-spacing: normal;
letter-spacing: 0.1ex;
text-decoration: none;
text-transform: none;
text-align: left;
text-indent: 0ex;
color: #666666;
}

.clearing{
clear: both;
height: 0px;
background: transparent;
}

img{
border: 0px none;
margin: 0px;
padding: 0px;
}

p{
background: #fff;
margin: 20px 0px 0px 0px;
padding: 0px;
font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
font-variant: normal;
font-weight: normal;
font-size: 1em;
word-spacing: normal;
letter-spacing: 0.1ex;
text-decoration: none;
text-transform: none;
text-align: left;
text-indent: 0ex;
}

div{
margin: 0px;
padding: 0px;
font-family: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
font-variant: normal;
font-weight: normal;
font-size: 1em;
word-spacing: normal;
letter-spacing: 0.1ex;
text-decoration: none;
text-transform: none;
text-align: left;
text-indent: 0ex;
}

h1{
background: transparent;
color: #569fcb;
text-decoration: none;
line-height: 1.400em;
}
.title h1 a:link, .title h1 a:active, .title h1 a:visited{
background: transparent;
color: #569fcb;
text-decoration: none;
line-height: 1.400em;
}
.title h1 a:hover{
background: transparent;
color: #569fcb;
text-decoration: underline;
line-height: 1.400em;
}
h2{
background: #fff;
color: #569fcb;
}
h2 a:link, h2 a:active, h2 a:visited{
background: transparent;
color: #569fcb;
text-decoration: none;
line-height: 1.400em;
}
h2 a:hover{
background: transparent;
color: #569fcb;
text-decoration: underline;
line-height: 1.400em;
}

a:link, a:active, a:visited{
background: transparent;
color: #000;
text-decoration: underline;
}
a:hover{
background: transparent;
color: #000;
text-decoration: none;
}

.menu a:link, .menu a:active, .menu a:visited{
background: #fff;
color: #53d492;
text-decoration: none;
}
.menu a:hover{
background: #fff;
color: #53d492;
text-decoration: underline;
}

.breadcrumb a:link, .breadcrumb a:active, .breadcrumb a:visited{
background: #fff;
color: #53d492;
text-decoration: none;
}
.breadcrumb a:hover{
background: #fff;
color: #53d492;
text-decoration: underline;
}

/* drupal */
.content{
padding: 0px;
margin: 0px 0px 20px 0px;
}
.links inline{
padding: 0px;
margin: 20px 0px 0px 0px;
}
/* end drupal */

/* header */
#header-bg{
background: #fff url(images/header-bg.jpg) no-repeat top center;
color: #666666;
padding: 0px;
margin: 0px auto;
width:660px;
height: 202px;
}
/* end header */

/* layout */
#bg-wrap-main{
background: #fff url(images/bg-wrap-main.png) no-repeat top center;
color: #666666;
padding: 0px;
margin: 0px auto;
width:660px;
}
#wrap-main{
background:transparent;
color: #666666;
margin:0px auto;
padding: 0px;
width:660px;
}
#header-main{
background:transparent;
clear: both;
padding: 0px;
margin: 0px;
}
#left-main{
background:transparent;
float:left;
width:390px;
padding: 20px 20px 20px 0px;
margin: 0px 0px 0px 0px;
}
#right-main{
background:transparent;
float:right;
width:250px;
padding: 20px 0px 20px 0px;
margin: 0px 0px 0px 0px;
}
/* end layout */

/* footer layout */
.footer{
width: 660px;
background: #fff;
color: #666666;
padding: 0px;
margin: 0px auto;
}
#wrap-footer h2{
background: #fff;
color: #569FCB;
padding: 0px;
margin: 0px;
}
#wrap-footer{
background:#fff;
margin:0px auto 20px auto;
padding: 20px;
width:620px;
color: #666666;
border-top: dashed 1px #666666;
border-bottom: dashed 1px #666666;
}
#left-footer{
background: #fff;
float:left;
width:33.3%;
padding: 0px;
margin: 0px;
}
#center-footer{
background: #fff;
float:left;
width:33.3%;
padding: 0px;
margin: 0px;
}
#right-footer{
background:transparent;
float:right;
width:33.3%;
padding: 0px;
margin: 0px;
}
#footer-bg{
background: #fff url(images/footer-bg.jpg) no-repeat bottom center;
color: #666666;
padding: 0px;
margin: 0px auto;
width:660px;
height: 202px;
}
/* end header layout */

/* copyright */
.copyright{
background: #fff;
width: 660px;
margin: 0px auto 20px auto;
padding: 0px;
text-align: left;
}
.copyright a:link, .copyright a:active, .copyright a:visited{
background: #fff;
color: #666666;
text-decoration: none;
}
.copyright a:hover{
background: #fff;
color: #666666;
text-decoration: underline;
}